h2 {
    background: none;
    color: inherit;
}
#form > div {
    margin: 20px auto;
}
#form label {
    margin-right: 10px;
    font-weight: bold;
}
.links a {
    font-size: 1.5em;
    font-weight: bold;
}
.links a.active {
    color: #a4a4a4;
}
.links a.active:hover, .links a.active:focus {
    text-decoration: none;
}
.links {
    margin-bottom: 20px;
}
form .send {
    width: 120px;
    height: 35px;
}