{% extends 'AcmeDemoBundle::layout-base.html.twig' %}

{% block title %}Symfony - Reservations{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>Reservations</h1>
    {% include 'AcmeDemoBundle:Test:Navs/header.html.twig' with {'active' : 'reservation'} %}
    {% if form is defined %}
        <form id="book-form" action="{{path('_book_room')}}" method="post" {{form_enctype(form)}}>
            <p>e.g: ID: 1, Name: Joan</p>
            {{form_widget(form)}}
            <button class="send">Send</button>
        </form>
        {% if error is defined %}
        <p class="error">{{error}}</p>
        {% elseif success is defined %}
        <p class="success">{{success}}</p>
        {%endif%}
    {% else %}
    <p>Nothing to do.</p>
    {% endif %}
{% endblock %}