{% extends 'AcmeDemoBundle::layout-base.html.twig' %}

{% block title %}Symfony - Home{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>Home</h1>
    {% include 'AcmeDemoBundle:Test:Navs/header.html.twig' with {'active' : 'home'} %}
    <p>
    Welcome,<br />
    To book a room you should go to <strong><a href="{{path('_book_room')}}">Reservations</a></strong>, there you will find a form that you must fill.<br />
    Do not forget to enter your <strong>customer id and name</strong>.</p>
    <p>Thank you.</p>
{% endblock %}
