{% extends 'AcmeDemoBundle::layout-base.html.twig' %}

{% block title %}Symfony - Hotels{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>Hotels</h1>
    {% include 'AcmeDemoBundle:Test:Navs/header.html.twig' with {'active' : 'hotels'} %}
    {% if hotels is defined and hotels|length %}
        <ul>
        {% for hotel in hotels %}
            {% set stars = '' %}
            {% for i in range(1, hotel.stars) %}
                {% set stars = stars~'<span class="stars">&#9733;</span> ' %}
            {% endfor %}
            <li>
                <a href="{{path('_reservation_hotel', {'id': hotel.id})}}" title="{{hotel.name~' ('~hotel.city~')'}}">{{hotel.name~' ('~hotel.city~')'}} {{ stars|raw}}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
    <p>There are no hotels.</p>
    {% endif %}
{% endblock %}
