{% extends 'AcmeDemoBundle::layout-base.html.twig' %}

{% block title %}Symfony - Hotel's reservations{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>Hotels</h1>
    {% include 'AcmeDemoBundle:Test:Navs/header.html.twig' %}
    {% if hotel is defined %}
        {% set stars = '' %}
        {% for i in range(1, hotel.stars) %}
            {% set stars = stars~'<span class="stars">&#9733;</span> ' %}
        {% endfor %}
        <h2>{{hotel.name~' ('~hotel.city~')'}} {{stars|raw}}</h2>
        {% if reservations is defined and reservations|length %}
            <ul>
                {% for reservation in reservations %}
                <li>Room: {{reservation.room}} - Customer: {{reservation.customer}}, {{reservation.customer_age}} years old - Check-in: {{reservation.checkin}} - Check-out: {{reservation.checkout}}</li>
                {% endfor %}
            </ul>
        {% else %}
        <p>There are no reservations</p>
        {% endif %}
    {% else %}
    <p>There are no hotels.</p>
    {% endif %}
{% endblock %}
