<div class="links">
    <a href="{{path('_home')}}"{% if active is defined and active == 'home' %} class="active" {% endif %} title="Home">Home</a> | 
    <a href="{{path('_list_hotels')}}"{% if active is defined and active == 'hotels' %} class="active" {% endif %} title="The Hotels">The Hotels</a> | 
    <a href="{{path('_book_room')}}"{% if active is defined and active == 'reservation' %} class="active" {% endif %} title="Reservations">Reservations</a>
</div>